USE [SistemaMaritimoDB]
GO
/****** Object:  Table [dbo].[AsignacionesTripulacion]    Script Date: 20/04/2026 4:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsignacionesTripulacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonalId] [int] NOT NULL,
	[BarcoId] [int] NOT NULL,
	[PuestoAsignado] [nvarchar](100) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[AsignacionesTripulacion] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Barcos]    Script Date: 20/04/2026 4:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barcos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreEmbarcacion] [nvarchar](150) NOT NULL,
	[MatriculaUnica] [nvarchar](100) NOT NULL,
	[CapacidadCarga] [decimal](18, 2) NOT NULL,
	[PuertoBase] [nvarchar](150) NOT NULL,
	[ModeloMotor] [nvarchar](150) NOT NULL,
	[PotenciaMotor] [nvarchar](100) NOT NULL,
	[HorasUsoMotor] [int] NOT NULL,
	[Archivado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Barcos] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[BitacoraCambiosRoles]    Script Date: 20/04/2026 4:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraCambiosRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioAfectadoId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
	[Accion] [nvarchar](50) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[RealizadoPor] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[BitacoraCambiosRoles] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[HistorialTecnico]    Script Date: 20/04/2026 4:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialTecnico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BarcoId] [int] NOT NULL,
	[OrdenServicioId] [int] NOT NULL,
	[TipoMantenimiento] [nvarchar](50) NOT NULL,
	[DescripcionTrabajo] [nvarchar](500) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[HistorialTecnico] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[LicenciasMaritimas]    Script Date: 20/04/2026 4:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenciasMaritimas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonalId] [int] NOT NULL,
	[NombreLicencia] [nvarchar](150) NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[LicenciasMaritimas] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[OrdenesServicio]    Script Date: 20/04/2026 4:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesServicio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoOrden] [nvarchar](50) NOT NULL,
	[BarcoId] [int] NOT NULL,
	[TipoMantenimiento] [nvarchar](50) NOT NULL,
	[Prioridad] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
	[FechaLimite] [datetime] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[InformeCierre] [nvarchar](max) NULL,
	[FechaCierreReal] [datetime] NULL,
	[UsuarioCierre] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[OrdenesServicio] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[OrdenesServicioTecnicos]    Script Date: 20/04/2026 4:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesServicioTecnicos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrdenServicioId] [int] NOT NULL,
	[PersonalId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[OrdenesServicioTecnicos] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 20/04/2026 4:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Permisos] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 20/04/2026 4:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [nvarchar](200) NOT NULL,
	[IdentificacionUnica] [nvarchar](50) NOT NULL,
	[RolPrimario] [nvarchar](100) NOT NULL,
	[FechaContratacion] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Personal] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20/04/2026 4:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Roles] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[RolPermisos]    Script Date: 20/04/2026 4:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPermisos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RolId] [int] NOT NULL,
	[PermisoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[RolPermisos] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Travesias]    Script Date: 20/04/2026 4:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Travesias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BarcoId] [int] NOT NULL,
	[PuertoOrigen] [nvarchar](150) NOT NULL,
	[PuertoDestino] [nvarchar](150) NOT NULL,
	[FechaPrevistaSalida] [datetime] NOT NULL,
	[FechaPrevistaLlegada] [datetime] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[FechaCierreReal] [datetime] NULL,
	[UsuarioCierre] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Travesias] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[UsuarioRoles]    Script Date: 20/04/2026 4:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[UsuarioRoles] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/04/2026 4:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](100) NOT NULL,
	[ClaveHash] [nvarchar](500) NOT NULL,
	[Activo] [bit] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[BloqueadoHasta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Usuarios] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[AsignacionesTripulacion] ON 

INSERT [dbo].[AsignacionesTripulacion] ([Id], [PersonalId], [BarcoId], [PuestoAsignado], [FechaInicio], [FechaFin], [Activa]) VALUES (1, 1, 1, N'Ingeniero', CAST(N'2026-04-17' AS Date), CAST(N'2026-04-17' AS Date), 0)
INSERT [dbo].[AsignacionesTripulacion] ([Id], [PersonalId], [BarcoId], [PuestoAsignado], [FechaInicio], [FechaFin], [Activa]) VALUES (2, 1, 1, N'Ingeniero', CAST(N'2026-04-01' AS Date), NULL, 1)
INSERT [dbo].[AsignacionesTripulacion] ([Id], [PersonalId], [BarcoId], [PuestoAsignado], [FechaInicio], [FechaFin], [Activa]) VALUES (3, 3, 1, N'Marinero', CAST(N'2026-04-17' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[AsignacionesTripulacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Barcos] ON 

INSERT [dbo].[Barcos] ([Id], [NombreEmbarcacion], [MatriculaUnica], [CapacidadCarga], [PuertoBase], [ModeloMotor], [PotenciaMotor], [HorasUsoMotor], [Archivado]) VALUES (1, N'CRC JUAN SANTA MARIA', N'CRC1246664456', CAST(67.00 AS Decimal(18, 2)), N'Limón ', N'V90', N'19000', 1000, 0)
INSERT [dbo].[Barcos] ([Id], [NombreEmbarcacion], [MatriculaUnica], [CapacidadCarga], [PuertoBase], [ModeloMotor], [PotenciaMotor], [HorasUsoMotor], [Archivado]) VALUES (2, N'CRC UNED', N'CRC1246664457', CAST(700.00 AS Decimal(18, 2)), N'Limón ', N'V90', N'19000', 1200, 0)
SET IDENTITY_INSERT [dbo].[Barcos] OFF
GO
SET IDENTITY_INSERT [dbo].[BitacoraCambiosRoles] ON 

INSERT [dbo].[BitacoraCambiosRoles] ([Id], [UsuarioAfectadoId], [RolId], [Accion], [Fecha], [RealizadoPor]) VALUES (3, 11, 6, N'Cambio de rol', CAST(N'2026-04-17T02:34:32.493' AS DateTime), N'jose')
INSERT [dbo].[BitacoraCambiosRoles] ([Id], [UsuarioAfectadoId], [RolId], [Accion], [Fecha], [RealizadoPor]) VALUES (4, 6, 1, N'Edición de usuario/rol', CAST(N'2026-04-17T03:04:09.037' AS DateTime), N'jose')
INSERT [dbo].[BitacoraCambiosRoles] ([Id], [UsuarioAfectadoId], [RolId], [Accion], [Fecha], [RealizadoPor]) VALUES (5, 6, 1, N'Edición de usuario/rol', CAST(N'2026-04-17T03:04:13.033' AS DateTime), N'jose')
SET IDENTITY_INSERT [dbo].[BitacoraCambiosRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[HistorialTecnico] ON 

INSERT [dbo].[HistorialTecnico] ([Id], [BarcoId], [OrdenServicioId], [TipoMantenimiento], [DescripcionTrabajo], [FechaRegistro]) VALUES (1, 1, 1, N'Preventivo', N'Limpieza general realizada', CAST(N'2026-04-17T17:46:01.310' AS DateTime))
SET IDENTITY_INSERT [dbo].[HistorialTecnico] OFF
GO
SET IDENTITY_INSERT [dbo].[LicenciasMaritimas] ON 

INSERT [dbo].[LicenciasMaritimas] ([Id], [PersonalId], [NombreLicencia], [FechaVencimiento]) VALUES (4, 1, N'Licencia de salida 2 Dias', CAST(N'2026-04-19' AS Date))
SET IDENTITY_INSERT [dbo].[LicenciasMaritimas] OFF
GO
SET IDENTITY_INSERT [dbo].[OrdenesServicio] ON 

INSERT [dbo].[OrdenesServicio] ([Id], [CodigoOrden], [BarcoId], [TipoMantenimiento], [Prioridad], [Descripcion], [FechaLimite], [Estado], [InformeCierre], [FechaCierreReal], [UsuarioCierre]) VALUES (1, N'OS-20260417-0001', 1, N'Preventivo', N'Alta', N'Limpieza general de sistemas de propulsion', CAST(N'2026-04-24T00:00:00.000' AS DateTime), N'Cerrada', N'Limpieza general realizada', CAST(N'2026-04-17T17:46:01.310' AS DateTime), N'pepe')
INSERT [dbo].[OrdenesServicio] ([Id], [CodigoOrden], [BarcoId], [TipoMantenimiento], [Prioridad], [Descripcion], [FechaLimite], [Estado], [InformeCierre], [FechaCierreReal], [UsuarioCierre]) VALUES (2, N'OS-20260417-0002', 1, N'Correctivo', N'Media', N'Cambio de bujias ', CAST(N'2026-04-24T00:00:00.000' AS DateTime), N'Abierta', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OrdenesServicio] OFF
GO
SET IDENTITY_INSERT [dbo].[OrdenesServicioTecnicos] ON 

INSERT [dbo].[OrdenesServicioTecnicos] ([Id], [OrdenServicioId], [PersonalId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[OrdenesServicioTecnicos] OFF
GO
SET IDENTITY_INSERT [dbo].[Personal] ON 

INSERT [dbo].[Personal] ([Id], [NombreCompleto], [IdentificacionUnica], [RolPrimario], [FechaContratacion], [Activo]) VALUES (1, N'Jose Alberto Gonzalez Aguilera', N'504400806', N'Ingeniero', CAST(N'2026-04-01' AS Date), 1)
INSERT [dbo].[Personal] ([Id], [NombreCompleto], [IdentificacionUnica], [RolPrimario], [FechaContratacion], [Activo]) VALUES (2, N'Reyna Lopez Aguilera', N'801060641', N'Capitan', CAST(N'2026-04-17' AS Date), 1)
INSERT [dbo].[Personal] ([Id], [NombreCompleto], [IdentificacionUnica], [RolPrimario], [FechaContratacion], [Activo]) VALUES (3, N'Alberto González Aguilar', N'14646546546', N'Ingeniero', CAST(N'2026-04-17' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Personal] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (2, N'Capitan')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (4, N'IngenieroJefe')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Travesias] ON 

INSERT [dbo].[Travesias] ([Id], [BarcoId], [PuertoOrigen], [PuertoDestino], [FechaPrevistaSalida], [FechaPrevistaLlegada], [Estado], [FechaCierreReal], [UsuarioCierre]) VALUES (1, 1, N'Limón', N'Caldera', CAST(N'2026-04-17T16:03:39.207' AS DateTime), CAST(N'2026-04-26T16:03:39.207' AS DateTime), N'Planeada', NULL, NULL)
INSERT [dbo].[Travesias] ([Id], [BarcoId], [PuertoOrigen], [PuertoDestino], [FechaPrevistaSalida], [FechaPrevistaLlegada], [Estado], [FechaCierreReal], [UsuarioCierre]) VALUES (2, 1, N'Limón', N'MI Bay', CAST(N'2026-04-17T16:04:21.053' AS DateTime), CAST(N'2026-04-24T16:04:21.053' AS DateTime), N'En Curso', CAST(N'2026-04-17T16:14:15.007' AS DateTime), N'jose')
INSERT [dbo].[Travesias] ([Id], [BarcoId], [PuertoOrigen], [PuertoDestino], [FechaPrevistaSalida], [FechaPrevistaLlegada], [Estado], [FechaCierreReal], [UsuarioCierre]) VALUES (3, 1, N'Limón', N'Caldera', CAST(N'2026-04-20T04:01:40.937' AS DateTime), CAST(N'2026-04-21T04:01:40.937' AS DateTime), N'Cancelada', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Travesias] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuarioRoles] ON 

INSERT [dbo].[UsuarioRoles] ([Id], [UsuarioId], [RolId]) VALUES (6, 11, 6)
INSERT [dbo].[UsuarioRoles] ([Id], [UsuarioId], [RolId]) VALUES (8, 6, 1)
INSERT [dbo].[UsuarioRoles] ([Id], [UsuarioId], [RolId]) VALUES (9, 12, 3)
SET IDENTITY_INSERT [dbo].[UsuarioRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [ClaveHash], [Activo], [IntentosFallidos], [BloqueadoHasta]) VALUES (6, N'jose', N'ClvD40JDLxutkv/VG3hTQ+xykGzbpqJhMQYLAI54ZlY=', 1, 0, NULL)
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [ClaveHash], [Activo], [IntentosFallidos], [BloqueadoHasta]) VALUES (11, N'pepe', N'O2Esdae1BIpDX7bsgeUv+S1teVqLWpwXBw9qY8l6U7I=', 1, 0, NULL)
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [ClaveHash], [Activo], [IntentosFallidos], [BloqueadoHasta]) VALUES (12, N'Reyna', N'ClvD40JDLxutkv/VG3hTQ+xykGzbpqJhMQYLAI54ZlY=', 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Barcos__7CF27E1B2EC93EFF]    Script Date: 20/04/2026 4:07:16 ******/
ALTER TABLE [dbo].[Barcos] ADD UNIQUE NONCLUSTERED 
(
	[MatriculaUnica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__OrdenesS__1B9107A425924659]    Script Date: 20/04/2026 4:07:16 ******/
ALTER TABLE [dbo].[OrdenesServicio] ADD UNIQUE NONCLUSTERED 
(
	[CodigoOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permisos__75E3EFCF1E034776]    Script Date: 20/04/2026 4:07:16 ******/
ALTER TABLE [dbo].[Permisos] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Personal__AD0F90FCE096D657]    Script Date: 20/04/2026 4:07:16 ******/
ALTER TABLE [dbo].[Personal] ADD UNIQUE NONCLUSTERED 
(
	[IdentificacionUnica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__75E3EFCFF3049AFE]    Script Date: 20/04/2026 4:07:16 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__6B0F5AE0458A17EC]    Script Date: 20/04/2026 4:07:16 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AsignacionesTripulacion] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Barcos] ADD  DEFAULT ((0)) FOR [Archivado]
GO
ALTER TABLE [dbo].[BitacoraCambiosRoles] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[HistorialTecnico] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[AsignacionesTripulacion]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionesTripulacion_Barcos] FOREIGN KEY([BarcoId])
REFERENCES [dbo].[Barcos] ([Id])
GO
ALTER TABLE [dbo].[AsignacionesTripulacion] CHECK CONSTRAINT [FK_AsignacionesTripulacion_Barcos]
GO
ALTER TABLE [dbo].[AsignacionesTripulacion]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionesTripulacion_Personal] FOREIGN KEY([PersonalId])
REFERENCES [dbo].[Personal] ([Id])
GO
ALTER TABLE [dbo].[AsignacionesTripulacion] CHECK CONSTRAINT [FK_AsignacionesTripulacion_Personal]
GO
ALTER TABLE [dbo].[BitacoraCambiosRoles]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraCambiosRoles_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[BitacoraCambiosRoles] CHECK CONSTRAINT [FK_BitacoraCambiosRoles_Roles]
GO
ALTER TABLE [dbo].[BitacoraCambiosRoles]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraCambiosRoles_Usuarios] FOREIGN KEY([UsuarioAfectadoId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[BitacoraCambiosRoles] CHECK CONSTRAINT [FK_BitacoraCambiosRoles_Usuarios]
GO
ALTER TABLE [dbo].[HistorialTecnico]  WITH CHECK ADD  CONSTRAINT [FK_HistorialTecnico_Barcos] FOREIGN KEY([BarcoId])
REFERENCES [dbo].[Barcos] ([Id])
GO
ALTER TABLE [dbo].[HistorialTecnico] CHECK CONSTRAINT [FK_HistorialTecnico_Barcos]
GO
ALTER TABLE [dbo].[HistorialTecnico]  WITH CHECK ADD  CONSTRAINT [FK_HistorialTecnico_OrdenesServicio] FOREIGN KEY([OrdenServicioId])
REFERENCES [dbo].[OrdenesServicio] ([Id])
GO
ALTER TABLE [dbo].[HistorialTecnico] CHECK CONSTRAINT [FK_HistorialTecnico_OrdenesServicio]
GO
ALTER TABLE [dbo].[LicenciasMaritimas]  WITH CHECK ADD  CONSTRAINT [FK_LicenciasMaritimas_Personal] FOREIGN KEY([PersonalId])
REFERENCES [dbo].[Personal] ([Id])
GO
ALTER TABLE [dbo].[LicenciasMaritimas] CHECK CONSTRAINT [FK_LicenciasMaritimas_Personal]
GO
ALTER TABLE [dbo].[OrdenesServicio]  WITH CHECK ADD  CONSTRAINT [FK_OrdenesServicio_Barcos] FOREIGN KEY([BarcoId])
REFERENCES [dbo].[Barcos] ([Id])
GO
ALTER TABLE [dbo].[OrdenesServicio] CHECK CONSTRAINT [FK_OrdenesServicio_Barcos]
GO
ALTER TABLE [dbo].[OrdenesServicioTecnicos]  WITH CHECK ADD  CONSTRAINT [FK_OrdenesServicioTecnicos_OrdenesServicio] FOREIGN KEY([OrdenServicioId])
REFERENCES [dbo].[OrdenesServicio] ([Id])
GO
ALTER TABLE [dbo].[OrdenesServicioTecnicos] CHECK CONSTRAINT [FK_OrdenesServicioTecnicos_OrdenesServicio]
GO
ALTER TABLE [dbo].[OrdenesServicioTecnicos]  WITH CHECK ADD  CONSTRAINT [FK_OrdenesServicioTecnicos_Personal] FOREIGN KEY([PersonalId])
REFERENCES [dbo].[Personal] ([Id])
GO
ALTER TABLE [dbo].[OrdenesServicioTecnicos] CHECK CONSTRAINT [FK_OrdenesServicioTecnicos_Personal]
GO
ALTER TABLE [dbo].[RolPermisos]  WITH CHECK ADD  CONSTRAINT [FK_RolPermisos_Permisos] FOREIGN KEY([PermisoId])
REFERENCES [dbo].[Permisos] ([Id])
GO
ALTER TABLE [dbo].[RolPermisos] CHECK CONSTRAINT [FK_RolPermisos_Permisos]
GO
ALTER TABLE [dbo].[RolPermisos]  WITH CHECK ADD  CONSTRAINT [FK_RolPermisos_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[RolPermisos] CHECK CONSTRAINT [FK_RolPermisos_Roles]
GO
ALTER TABLE [dbo].[Travesias]  WITH CHECK ADD  CONSTRAINT [FK_Travesias_Barcos] FOREIGN KEY([BarcoId])
REFERENCES [dbo].[Barcos] ([Id])
GO
ALTER TABLE [dbo].[Travesias] CHECK CONSTRAINT [FK_Travesias_Barcos]
GO
ALTER TABLE [dbo].[UsuarioRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRoles_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UsuarioRoles] CHECK CONSTRAINT [FK_UsuarioRoles_Roles]
GO
ALTER TABLE [dbo].[UsuarioRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRoles_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[UsuarioRoles] CHECK CONSTRAINT [FK_UsuarioRoles_Usuarios]
GO
